<header class="movies-header">
  <mat-toolbar class="movies-toolbar">
    <ng-container *ngIf="layout$ | async as layout">
      <mat-icon *ngIf="layout.header?.menu else backIcon" (click)="drawer.toggle()">menu</mat-icon>
    </ng-container>
    <ng-template #backIcon>
      <mat-icon (click)="location.back()">keyboard_backspace</mat-icon>
    </ng-template>
    <h3 *ngIf="title$ | async as title">{{ title | translate }}</h3>
  </mat-toolbar>
</header>
<mat-drawer-container class="movies-menu">
  <mat-drawer #drawer class="movies-menu__container" mode="over">
    <div class="movies-menu__container-icon">
      <mat-icon (click)="drawer.toggle()">close</mat-icon>
    </div>
    <nav>
      <ul>
        <li (click)="drawer.toggle()" routerLink="/movies">
          {{ 'LAYOUT.HEADER.NAV.MOVIES' | translate }}
        </li>
        <li (click)="drawer.toggle()" routerLink="/actors">
          {{ 'LAYOUT.HEADER.NAV.ACTORS' | translate }}
        </li>
        <li (click)="drawer.toggle()" routerLink="/companies">
          {{ 'LAYOUT.HEADER.NAV.COMPANIES' | translate }}
        </li>
      </ul>
    </nav>
  </mat-drawer>
</mat-drawer-container>
